* {
  background-color: #333;
  text-align: center;
}
body {
  color: white;
}
a {
  font-size: xx-large;
  color: white;
}
.menu-grid {
  display: flex;
  flex: 1 1 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.block {
  border: solid 3px white;
}
.form-grid {
  display: flex;
  flex: 1 1 0px;
  align-items: center;
  justify-content: center;
  gap: 2ch;
}

.order-grid {
  color: white;
  display: flex;
  flex: 1 1 0px;
  align-items: center;
  justify-content: center;
  gap: 2ch;
}
input {
  background-color: white;
  color: black;
}
.menu-grid div {
  border: solid 3px lightblue;
  gap: 2ch;
  padding: 2ch;
}
.order-grid div {
  border: solid 3px lightblue;
  gap: 2ch;
  padding: 2ch;
}
div {
  padding: 2ch;
}
row {
  padding: 2ch;
}
button {
  color: white;
}
option {
  color: white;
}
select {
  color: white;
}
.left {
  float: left;
  margin: 2em;
}
.right {
  float: right;
  margin: 2em;
}
#status-button {
  background-color: red;
}
